PROJECT_NAME=
PROJECT_VERSION=
DEBUG=

DATABASE_URL=

SECRET_KEY=

ALGORITHM=

ACCESS_TOKEN_EXPIRE_MINUTES=

UPLOAD_DIR=

MAX_FILE_SIZE_MB=

OCR_LANGUAGE=

EMBEDDING_MODEL=

FAISS_INDEX_PATH=

HEADLESS=