fastapi
uvicorn[standard]
python-dotenv
python-multipart
pydantic
pydantic-settings

sqlalchemy
alembic

loguru

pymupdf
pdfplumber

langchain
langgraph

faiss-cpu
sentence-transformers

httpx

pytest

black
isort

paddlepaddle
paddleocr

layoutparser

pillow

opencv-python

numpy

pandas

easyocr

google-genai

openai

playwright

rapidfuzz